* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: fantasy;
    margin: 0;
    overflow: hidden;
}

.image {
    background-image: url('https://images.unsplash.com/photo-1576161787924-01bb08dad4a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2104&q=80');
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:100%;
}