* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    height: 100vh;
}

.container {
    text-align: center;

}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    max-width: 100%;
    position: relative;
}

.box-container::before {
    content: '';
    background: #c0b7b7e3;
    position: absolute;
    width: 100%;
    height: 4px;
}

.circle {
    background-color: rgb(238, 238, 236);
    color: #0000003d;
    width: 30px;
    height: 30px;
    display: flex;
    border: 3px solid #e0e0e0;
    border-radius: 50%;
    align-items: center;
    position: relative;
    justify-content: center;
}

.cricle.active {
    border-color: blue;
}


.button {
    padding-top: 30px;
    justify-content: space-between;
    align-items: center;
}
button.next{
    background-color: #3498db;
}
button.prev,
button.next {
    width: 24%;
    height: 32px;
    border-radius: 6px;
    color: white;
    border: #555;
    cursor: pointer;
}

.circle.first {
    border-color: #3498db;
    color: #0c0c0c;
}